/* line 6, ../scss/estilos.scss */
body {
  padding-top: 50px;
  font-family: 'Ubuntu',Helvetica,Arial,sans-serif !important;
  background: #009ea8;
  color: #004859;
}

/* line 13, ../scss/estilos.scss */
.navbar {
  background: #004859;
  color: white;
}

/* line 18, ../scss/estilos.scss */
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background: #009ea8;
}

/* line 22, ../scss/estilos.scss */
.navbar-inverse .navbar-toggle {
  border-color: #009ea8;
}

/* line 26, ../scss/estilos.scss */
.navbar-inverse .navbar-brand {
  color: white !important;
}

/* line 30, ../scss/estilos.scss */
.navbar-nav > li > a.active:focus, .navbar-nav > li > a.active:hover {
  background: #009ea8;
  color: #004859 !important;
}

/* line 35, ../scss/estilos.scss */
.navbar-brand {
  font-size: 22px;
}

/* line 39, ../scss/estilos.scss */
a:hover {
  color: #004859;
}

/* line 43, ../scss/estilos.scss */
.img-responsive {
  max-height: 130px;
  margin: 0 auto;
}

/* line 48, ../scss/estilos.scss */
.img-thumbnail {
  border: 5px solid #009ea8;
  padding: 0;
}

/* line 53, ../scss/estilos.scss */
.row {
  padding: 10px;
}

/* line 57, ../scss/estilos.scss */
.selected {
  background: #009ea8;
  color: white !important;
}

/* line 62, ../scss/estilos.scss */
.blanco {
  background: white;
}

/* line 66, ../scss/estilos.scss */
.mark, mark {
  background: #009ea8;
  border-radius: 4px;
  color: #fff;
}

/* line 72, ../scss/estilos.scss */
.azul_marino {
  background: #004859;
  color: white;
}

/* line 77, ../scss/estilos.scss */
.gris {
  background: #eeeeee;
}

/* line 82, ../scss/estilos.scss */
.turquesa {
  background: #009ea8;
  color: white;
}

/* line 87, ../scss/estilos.scss */
.color_turquesa {
  color: #009ea8;
}

/* line 91, ../scss/estilos.scss */
.color_azul_marino {
  color: #004859;
}

/* line 95, ../scss/estilos.scss */
.noview {
  display: none;
}

/* line 99, ../scss/estilos.scss */
footer {
  background: #009ea8;
  color: white;
  border-top: 4px solid #004859;
}

/* line 105, ../scss/estilos.scss */
header {
  border-bottom: 4px solid #009ea8;
}

/*SOCIAL ICONS*/
/* line 110, ../scss/estilos.scss */
.btn-social-icon {
  margin-right: 5px;
}

/* line 114, ../scss/estilos.scss */
.btn-twitter, .btn-linkedin, .btn-github, .btn-envelope {
  background-color: #004859 !important;
  color: white !important;
}

/* line 119, ../scss/estilos.scss */
.btn-twitter:hover {
  background-color: #2795E9 !important;
}

/* line 123, ../scss/estilos.scss */
.btn-linkedin:hover {
  background-color: #007BB6 !important;
}

/* line 127, ../scss/estilos.scss */
.btn-github:hover {
  background-color: #444444 !important;
}
