$azul_marino:#004859;
$gris:#F5F5F5;
$turquesa:#009ea8;
$blanco:#fff;

body{
  padding-top: 50px;
  font-family: 'Ubuntu',Helvetica,Arial,sans-serif !important;
  background: $turquesa;
  color:$azul_marino;
}

.navbar{
  background: $azul_marino;
  color: $blanco;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
    background: $turquesa;
}

.navbar-inverse .navbar-toggle{
    border-color: $turquesa;
}

.navbar-inverse .navbar-brand{
    color: $blanco !important;
}

.navbar-nav > li > a.active:focus, .navbar-nav > li > a.active:hover{
    background: $turquesa;
    color: $azul_marino!important;
}

.navbar-brand{
    font-size: 22px;
}

a:hover{
    color: $azul_marino;   
}

.img-responsive{
    max-height: 130px;
    margin: 0 auto;
}

.img-thumbnail{
    border:5px solid $turquesa;
    padding: 0;
}

.row{
    padding: 10px;
}

.selected{
    background: $turquesa;
    color: $blanco!important;
}

.blanco{
    background: $blanco;
}

.mark, mark{
    background: $turquesa;
    border-radius: 4px;
    color: #fff;
}

.azul_marino{
  background:$azul_marino;
  color: $blanco;
}

.gris{
    background: $gris;
    //border-left: 5px solid $turquesa;
}

.turquesa{
    background: $turquesa;
    color:$blanco;
}

.color_turquesa{
    color:$turquesa;
}

.color_azul_marino{
    color: $azul_marino;
}

.noview{
    display: none;
}

footer{
  background: $turquesa;
  color: $blanco;
  border-top: 4px solid $azul_marino;
}

header{
  border-bottom: 4px solid $turquesa;
}
