$azul_marino:#004859;
$gris_transparente: rgba(238,238,238,0.5);
$turquesa:#009ea8;
$blanco:#fff;

body{
    font-family: 'Raleway', sans-serif!important;
    color:$azul_marino;
}

html, body {
    height: 100%;
}

#home{
    background-attachment: fixed;
    background-color: $azul_marino;
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
    background-size: auto auto;
    display: table;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    vertical-align: middle;
    width: 100%;
    z-index: 1;
}

h1{
    font-size: 50px;
    font-family: 'Architects Daughter', cursive;
}

.scrollToTop {
    background: none repeat scroll 0 0 $azul_marino;
    font-weight: bold;
    font-size: 25px;
    color: $blanco!important;
    position: fixed;
    display: inline;
    width: 45px;
    height: 45px;
    line-height: 45px;
    opacity: 0.4;
    right: 0;
    bottom: 0;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    z-index: 999999;
}

.background-title{
    background-image: url("../images/background-title.jpg");
    background-attachment: fixed;
    background-color: $turquesa;
    color:$blanco;
    background-repeat: repeat;
    background-size: auto auto;
    display: table;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    vertical-align: middle;
    width: 100%;
    z-index: 1;
}

#studies, #proyects{
    background: url("../images/tile-graphpaper.jpg") repeat scroll 50% 0 rgba(0, 0, 0, 0);
}

.navbar-brand{
    font-family: 'Architects Daughter', cursive;
}

.btn-custom{
    border-color: $turquesa;
    color: $blanco;
}

.btn:hover, .btn:focus{
    background-color: $turquesa;
    color: $blanco;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.home-content {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    z-index: 3;
}

.navbar{
  background: $azul_marino;
  color: $blanco;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
    background: $turquesa;
}

.navbar-inverse .navbar-toggle{
    border-color: $turquesa;
}

.navbar-inverse .navbar-brand{
    color: $blanco !important;
}

.navbar-nav > li > a.active:focus, .navbar-nav > li > a.active:hover{
    background: $turquesa;
    color: $azul_marino!important;
}

.navbar-brand{
    font-size: 22px;
}

a:hover{
    color: $azul_marino;
}

.img-responsive{
    max-height: 120px;
    margin: 0 auto;
}

.img-thumbnail{
    border:5px solid $turquesa;
    padding: 0;
}

.row{
    padding: 10px;
}

.blanco{
    background: $blanco;
}

.contact{
    color: $azul_marino;
    font-size: 45px;
    margin-bottom: 15px;
}

.mark, mark{
    background: $turquesa;
    border-radius: 4px;
    color: #fff;
    line-height: 1.8;
}

.azul_marino{
  background:$azul_marino;
  color: $blanco;
}

.gris_transparente{
    background: $gris_transparente;
}

.turquesa{
    background: $turquesa;
    color:$blanco;
}

.color_turquesa{
    color:$turquesa;
}

.color_azul_marino{
    color: $azul_marino;
}

.color_blanco{
    color:$blanco;
}

footer{
  background: $azul_marino;
  color: $blanco;
}

/*SOCIAL ICONS*/
.btn-social-icon{
    margin-right: 5px;
}

.btn-twitter, .btn-linkedin, .btn-github, .btn-envelope{
    background-color: $turquesa!important;
    color: $blanco!important;
}

.btn-twitter:hover{
    background-color: #2795E9 !important;
}

.btn-linkedin:hover{
    background-color: #007BB6 !important;
}

.btn-github:hover{
    background-color: #444444 !important;
}
